@import 'partials/variables';
@import 'partials/mixins';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font-family;
}

.header-container {
  background: $bg-gray;
}

.centered-container {
  width: 80vw;
  margin: 0 auto;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 50px;

  a {
    text-decoration: none;
    color: $text-color;
  }
}

.button {
  padding: 10px 20px;
  border: none;
  background-color: $text-color;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.primary-button {
  background: #4CAF4F;
  color: #fff;
}

.secondary-button {
  background: transparent;
  color: #4CAF4F;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-section {
  padding: 22px 0;
}

.heading-1 {
  font-size: 36px;
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.para {
  font-size: 16px;
  color: #717171;
}

.care-desc {
  width: 630px;
  margin: 0 auto;
  margin-top: 16px;
}

.care-container {
  padding-top: 48px;
}

.care-image-container {
  position: relative;
  width: 368px;
}

.care-text {
  position: absolute;
  background: #F5F7FA;
  width: 80%;
  left: 10%;
  height: 135px;
  top: 68%;
  border-radius: 6px;
  text-align: center;
  padding: 45px;
  box-sizing: border-box;
}

.care-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0px;
}

//.sk_scaffold {
//  border: 2px solid mediumblue;
//  margin: 10px;
//}

/************************************************************************************
                                  REVIEW SECTION
*************************************************************************************/
.review-section {
  background-color: #F5F7FA;
  .review-container {
    display: flex;
    column-gap: 16px;
    padding: 28px;

    .review-text {
      padding: 14px;
      color: $neutral-grey;
    }

    .review-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .reviewer-details {
      padding-top: 12px;
    }

    .reviewer-name {

      color: #4CAF4F;
      font-size: x-large;
      font-weight: bold;
    }

    .customer-logos {
      display: flex;
      justify-content: space-between;
    }
  }
}


/*************************************************************************************
                                  FOOTER DESIGN SECTION
**************************************************************************************/
.footer-design-section {
  .footer-design-content {
    display: flex;
    justify-content: space-around;
    .footer-design-text{
      h1 {
        padding-top: 51px;
        width: 600px;
      }
      p {
        padding-top: 40px;
        padding-bottom: 85px;
        max-width: 900px;
      }
    }
  }
}