@import 'partials/variables';
@import 'partials/mixins';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font-family;
}

.header-container {
  background: $bg-gray;
}

.centered-container {
  width: 80vw;
  margin: 0 auto;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 50px;

  a {
    text-decoration: none;
    color: $text-color;
  }
}

.button {
  padding: 10px 20px;
  border: none;
  background-color: $text-color;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.primary-button {
  background: #4CAF4F;
  color: #fff;
}

.secondary-button {
  background: transparent;
  color: #4CAF4F;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-section {
  padding: 22px 0;
}

.heading-1 {
  font-size: 36px;
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.para {
  font-size: 16px;
  color: #717171;
}

.care-desc {
  width: 630px;
  margin: 0 auto;
  margin-top: 16px;
}

.care-container {
  padding-top: 48px;
}

.care-image-container {
  position: relative;
  width: 368px;
}

.care-text {
  position: absolute;
  background: #F5F7FA;
  width: 80%;
  left: 10%;
  height: 135px;
  top: 68%;
  border-radius: 6px;
  text-align: center;
  padding: 45px;
  box-sizing: border-box;
}

.care-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0px;
}

//.sk_scaffold {
//  border: 2px solid mediumblue;
//  margin: 10px;
//}

.sk_scaffold {

}

/************************************************************************************
                                  REVIEW SECTION
*************************************************************************************/
.review-section {
  background-color: #F5F7FA;
  .review-container {
    display: flex;
    column-gap: 16px;
    padding: 28px;

    .review-text {
      padding: 14px;
      color: $neutral-grey;
    }

    .review-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .reviewer-details {
      padding-top: 12px;
    }

    .reviewer-name {

      color: #4CAF4F;
      font-size: x-large;
      font-weight: bold;
    }

    .customer-logos {
      display: flex;
      justify-content: space-between;
    }
  }
}


/*************************************************************************************
                                  FOOTER DESIGN SECTION
**************************************************************************************/
.footer-design-section {
  .footer-design-content {
    display: flex;
    justify-content: space-around;
    .footer-design-text{
      h1 {
        padding-top: 51px;
        width: 600px;
      }
      p {
        padding-top: 40px;
        padding-bottom: 85px;
        max-width: 900px;
      }
    }
  }
}

/*************************************************************************************
                                 STATS SECTION
**************************************************************************************/
.stat-section-parentcontainer {
  background-color: $bg-gray;
  padding: 28px;
  .stat-section-container{
    display: flex;
    justify-content: space-evenly;
    .stat-section-lbox{
      .blackText {
        font-weight: bold;
        font-size: larger;
      }
      .greenText {
        color: $brand-green;
        font-weight: bold;
        font-size: larger;
      }
      .smallText {
        color: black;
        font-size: smaller;
      }
    }
    .stat-section-rbox{
      .stat-section-rboxrow{
        display: flex;
        justify-content: space-between;
        gap: 100px;
        .stat-section-rboxrow-content{
          display: flex;
          gap: 15px;
        }
        .numStyle {
          font-size: x-large;
          font-weight: bold;
        }
        .captionStyle{
          font-size: x-small;
          color: $neutral-grey;
          font-weight: bold;
        }
      }
    }
  }
}


/****************************************************************************
                              Our client section
****************************************************************************/
.centered-div {
  max-width: fit-content;
  margin: auto auto;
}

.our-client-container {
  padding: 20px;
  .bigText {
    font-size: x-large;
    font-weight: bold;
  }
  .smallText {
    color: hsl(0 0% 65%);
    font-size: 14px;
    //font-weight: bold;
  }
  .our-client-img-list {
    display: flex;
    justify-content: space-around;
  }
}

/************************************************************
                         Community Section
*************************************************************/

.community-section {
  padding: 30px;
  .bigText {
    font-size: xx-large;
    font-weight: bold;
  }
  .smallText {
    font-size: 14px;
    color: hsl(0 0% 65%);
  }
  .community-list {
    display: flex;
    justify-content: space-between;
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04);
      padding: 10px;
      position: relative;
      .img-shift {
        position: relative;
        left: 29px;
      }
      .U{
        font-size: x-large;
        font-weight: bold;
        text-wrap: balance;
        max-width: 200px;
      }
      .V{
        font-size: 14px;
        color: hsl(0 0% 65%);
        text-wrap: balance;
        max-width: 200px;
      }
    }
  }
}
